* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    background-image: url(/02-Challenge/Assets/imgs/programming-languages-shutterstock-1680857539.jpg);
}

header {
    position: fixed;
    height: 4rem;
    width: 100%;
    top: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Oswald", sans-serif;
    color: #c88a82;
    background-color: #901405;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 200;
}



.container {
    margin: 1rem;
    position: relative;
    height: 45rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
}

#gameOver {
    display: none;
    flex-direction: column;
    height: 20rem;
    width: 35rem;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #058190;
}

form {
    display: flex;
    height: 20em;
    width: 20em;
    align-items: center;
    justify-content: center;
}

#formInput {
    display: flex;
    flex-wrap: wrap;
    height: 4em;
    width: 20em;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

input {
    width: 15em;
    border-radius: 3px;
}

#submit {
    padding: 0.5em;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    background-color: #846561;
}

.startBTN {
    padding: .25rem;
    height: 2em;
    width: auto;
    border-radius: 8px;
    border: none;
    background-color: #3c9005;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    display: block;
    cursor: pointer;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.5s;
}

.startBTN:hover {
    transform: scale(1.5);
}

.boardBox {
    display: none;
    height: auto;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #058190;
    z-index: 100;
}

.boardBox > div {
    margin-bottom: 2em;
    padding: 0.5em;
    height: auto;
    width: 15em;
    text-align: center;
    font-size:larger;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    color: #ffffff;

}

.boardBox > div > ul > li {
    margin-bottom: 1em;
    list-style: none;
    background-color: #000000;
    border-radius: 5px;
}

#startOverBtn {
    padding: .25rem;
    height: 2em;
    width: auto;
    border-radius: 8px;
    border: none;
    background-color: #3c9005;
    display: block;
    cursor: pointer;
    transition: transform 0.5s;
}

#startOverBtn:hover {
    transform: scale(1.0);
}

.whoseHighScore {
    color: #057290;

}

.whoseHighScore:hover {
    cursor: pointer;
    color: #1bcafa;
}


#questions {
    font-family: "Yeseva One", serif;
}
.answerBtn {
    margin-bottom: 1em;
    padding: .25rem;
    height: 2rem;
    width: 100%;
    border-radius: 8px;
    background-color: #1bcafa;
    font-family: "Yeseva One", serif;
    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    min-height: 2.4em;
    min-width: 3em;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;
    color: hsla(0, 0%, 90%);
    border: none;
    transition: transform 0.7s;
}

:disabled {
    background-color: grey;
}

.answerBtn:hover {
  transform: scale(0.9);
}

.questionaire {
    margin: 1em;
    padding: 1.5em;
    position: relative;
    height: auto;
    width: 45rem;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background-color: #72868c;
    
}

.questions {
    margin-bottom: 2em;
    height: auto;
    width: auto;
}

.feedback {
    position: relative;
    text-align: center;
    height: 2em;
    display: none;
    width: 10rem;
    color: #ffffff;
    background-color: #000000;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ba6c63;
}