* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    /* background-color: black; */
}

header {
    position: fixed;
    height: 4rem;
    width: 100%;
    top: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: olive;
    z-index: 200;
}



.container {
    margin: 1rem;
    position: relative;
    height: 45rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
}
.startBTN {
    padding: .25rem;
    height: 2rem;
    border-radius: 8px;
    background-color: rgb(129, 22, 175);
    display: block;
    cursor: pointer;
    transition: transform 0.5s;
}
.startBTN:hover {
    transform: scale(1.0);
}

.boardBox {
    display: none;
    height: 50%;
    width: 50%;
    align-items: start;
    justify-content: center;
    background-color: bisque;
    z-index: 100;
}

.whoseHighScore {
    /* display: none; */
    color: blueviolet;

}

.whoseHighScore:hover {
    cursor: pointer;
}

.highScore {
    /* position: relative; */
    /* top: 2rem; */
    display: none;
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
    /* place-items: center; */
    background-color: forestgreen;
    color: blue;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.answerBtn {
    margin-bottom: 1em;
    padding: .25rem;
    height: 2rem;
    width: 100%;
    border-radius: 8px;
    background-color: orange;
    
    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    min-height: 2.4em;
    min-width: 3em;
    /* display: flex;
    align-items: center; */
    /* gap: 0.5em; */
    
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;

    /* background: linear-gradient(
        140deg,
        hsla(var(--back-color), 50%, 1) min(2em, 20%),
        hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
    ); */
    color: hsla(0, 0%, 90%);
    border: 0;
    /* box-shadow: inset 0.4px 1px 4px var(--edge-light); */

    transition: transform 0.7s;
    /* z-index: 400; */
}

:disabled {
    background-color: grey;
    /* transition: none;
    transform: none; */
}

.alpha:hover:disabled {
    transition: none;
    transform: none;
}

.bravo:hover:disabled {
    transition: none;
    transform: none;
}

.charlie:hover:disabled {
    transition: none;
    transform: none;
}

.delta:hover:disabled {
    transition: none;
    transform: none;
}

.alpha:hover {
  transform: scale(0.9);
}
.bravo:hover {
    transform: scale(0.9);
}
.charlie:hover {
    transform: scale(0.9);
}
.delta:hover {
    transform: scale(0.9);
}

/* .alpha, .beta, .charlie, .delta {
    margin-bottom: 1em;
    width: 80%;
    justify-content: center;
} */

/* button:active {
  /* --text-light: rgba(255, 255, 255, 1);

  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 50%, 1) min(2em, 20%),
    hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
  );
  box-shadow: inset 0.4px 1px 8px var(--edge-light),
    0px 0px 8px hsla(var(--back-color), 50%, 0.6);
  text-shadow: 0px 0px 20px var(--text-light);
  color: hsla(0, 0%, 100%, 1);
  letter-spacing: 0.1em; */
  /* transform: scale(1);
}  */

.next {
    /* margin: 0.5em; */
    position: relative;
    left: 10em;
    /* left: 65%; */
    /* justify-content: end; */
    padding: .25rem;
    height: 2rem;
    width: 6rem;
    border-radius: 8px;
    background-color: orange;
    /* --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
    --edge-light: hsla(0, 0%, 50%, 0.8);
    --text-light: rgba(255, 255, 255, 0.4);
    --back-color: 240, 40%; */
    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    min-height: 2.4em;
    min-width: 3em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;

    /* background: linear-gradient(
        140deg,
        hsla(var(--back-color), 50%, 1) min(2em, 20%),
        hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
    ); */
    color: hsla(0, 0%, 90%);
    border: 0;
    /* box-shadow: inset 0.4px 1px 4px var(--edge-light); */

    transition: transform 0.7s;
    /* z-index: 400; */
}
.questionaire {
    margin: 1em;
    padding: 1.5em;
    position: relative;
    height: auto;
    width: 45rem;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: bisque;
    
}

.questions {
    margin-bottom: 2em;
    height: auto;
    width: auto;
    /* background-color: red; */
}

hr {
    display: none;
}

.feedback {
    position: relative;
    height: 2em;
    display: none;
    width: 10rem;
    top: -7rem;
    background-color: blueviolet;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
}